@import "./base.css";
@import "bulma/css/bulma.css";

html {
  min-height: 100vh;
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* :root {
  --text: #060d09;
  --background: #f5faf7;
  --primary: #57ae74;
  --secondary: #d2a1c9;
  --accent: #bf807a;
  --bulma-primary-h: 140deg;
  --bulma-primary-s: 35%;
  --bulma-primary-l: 51%;
  --bulma-link-h: 311deg;
  --bulma-link-s: 35%;
  --bulma-link-l: 73%;
  --bulma-info-h: 5deg;
  --bulma-info-s: 35%;
  --bulma-info-l: 61%;
  --bulma-scheme-h: 144;
} */

:root {
  --text: #060708;
  --background: #f7f8f9;
  --primary: #90acc3;
  --secondary: #c7b1be;
  --accent: #b39795;
  --bulma-primary-h: 207deg;
  --bulma-primary-s: 30%;
  --bulma-primary-l: 66%;
  --bulma-link-h: 325deg;
  --bulma-link-s: 16%;
  --bulma-link-l: 74%;
  --bulma-info-h: 4deg;
  --bulma-info-s: 16%;
  --bulma-info-l: 64%;
  --bulma-scheme-h: 210;
  --bulma-scheme-s: 50%;
  background-color: var(--bulma-background);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 3rem;
}

.primary-text-shadow {
  text-shadow: 0 0 10px var(--bulma-text), 0 0 20px var(--bulma-text),
    0 0 30px var(--bulma-primary), 0 0 40px var(--bulma-primary),
    0 0 50px var(--bulma-primary), 0 0 60px var(--bulma-primary),
    0 0 70px var(--bulma-primary);
}
